@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nunito-sans: var(--font-nunito-sans), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-inter), Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}



@layer base {
  :root {
    /* --background: 240, 100%, 98% */
    --background: 240, 100%, 98%; 
    --foreground: 226, 13%, 44%; 
    --card: 240, 100%, 98%; 
    --card-foreground: 226, 13%, 44%; 
    --popover: 240, 100%, 98%; 
    --popover-foreground: 226, 13%, 44%; 
    --primary: 249, 95%, 67%; /*primary purple*/
    --primary-foreground: 240, 100%, 98%;
    --secondary: 223, 89%, 40%; /*primary blue*/
    --secondary-foreground: 240, 100%, 98%;
    --muted: 210 40% 96.1%; /*no equivalent*/
    --muted-foreground: 215.4 16.3% 46.9%; /*no equivalent*/
    --accent: 211, 80%, 54%; /*secondary blue*/
    --accent-foreground: 240, 100%, 98%;
    --destructive: 0 84.2% 60.2%; /*no equivalent here until --primary-purple*/
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /*custom color variables*/
    --primary-purple: 249, 95%, 67%;
    --primary-blue: 223, 89%, 40%;
    --secondary-blue: 211, 80%, 54%;
    --background-white: 240, 100%, 98%;
    --primary-purple-g1: 250, 94%, 73%;
    --primary-purple-g2: 249, 94%, 80%;
    --primary-purple-g3: 250, 92%, 90%;
    --primary-blue-g1: 223, 59%, 52%;
    --primary-blue-g2: 223, 59%, 64%;
    --primary-blue-g3: 223, 59%, 76%;
    --secondary-blue-g1: 211, 79%, 63%;
    --secondary-blue-g2: 211, 79%, 72%;
    --secondary-blue-g3: 212, 79%, 81%;
    --title-pb: 223, 89%, 40%;
    --basic-title: 227, 42%, 17%;
    --body-text: 226, 13%, 44%;
    --shadows-outlines: 240, 12%, 88%;
    --title-pb-hover: 223, 90%, 24%;
    --basic-title-hover: 229, 41%, 10%;
    --body-text-hover: 226, 13%, 31%;
    --shadows-outlines-hover: 240, 4%, 71%;
    --primary-purple-hover: 250, 48%, 46%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
